.entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  background-color: #bab6c0;
  border: 1px solid black;
}

.entry h4 {
  padding: 10px 5px;
  padding-left: 25px;
  margin-bottom: 0;

  font-weight: bold;
  background-color: #948ae3;

  border-bottom: 1px solid black;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.entry p {
  padding: 5px;
}

img {
  width: 50%;
  height: 50%;
}

hr {
  color: black !important;
}

.image-container {
  width: 100%;
  background-color: #948ae3;
}

#feed-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.entry h4 i {
  padding: none;
  margin: none;
  padding-top: 3px;
  font-size: 24px;
  float: right;  
  color: var(--base4);
  background: var(--base8);
  border-radius: 50px;
  width: 35px;
  height: 35px;
}

.entry h4 i:hover {
  color: var(--purple);
  transition: .2s all;
}

.entry h4 .bi-hand-thumbs-down-fill {
  padding-top: 4px;
  float: left;
}

#skills li {
  list-style: none;
  display: inline-block;
  padding: 6px 10px 6px 10px;
  margin: 5px;
  background: var(--base8);
  border-radius: 5px;
}

.liked {
  color: var(--green) !important;
}

.disliked {
  color: var(--red) !important;
}