@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');

#profileImage { 
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border-image-width: 10px;
	border: 2px dashed white;
}

#uploadInput {
    display: inline-flex;
	flex: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #9002FF;
	transition-duration: 0.4s;
	border: none;
	border-radius: 2px;
	padding: 10px;
}

#profile {
    height: 100px;
}

#profileImageDiv { 
    margin: 0 auto;
    position: relative;
    height: 250px;
    width: 100%;
    background: none;
}

#profileImageDiv * {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

#profileImageDiv img {
    width: 200px;
}

button {
	font-size: 18px;
}

h3 {
    font-family: 'Readex Pro', sans-serif;
    font-size: 35px;
}
