.InputForm {
  height: 100%;
}

ul {
  display: block !important;
}

.inputError {
  background-color: var(--red);
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
}

.forgotPasswordBtn { 
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    margin-left: 145px;
    font-size: small;
}