@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');
div {
  text-align: center;
  background-color: var(--white);
}

.Homepage {
  padding-top: 25vh;
}

#profile {
  padding-top: 10vh;
}

a .bi {
  font-size: 24px;
  color: var(--purple);
  margin: 5px 8px 0 0;
  background: var(--base8);
  border-radius: 50px;
  width: 35px;
  height: 35px;
}

h2, h3, h4, h5, h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
p, i, li, label, td, th, button {
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

h1 {
	color: #9002FF;
	font-weight: bold;
	font-family: 'Readex Pro', sans-serif;
	font-size: 70px;
}

.formButton {
	display: inline-flex;
	flex: auto;
	min-width: 150px;
	max-width: 150px;
	min-height: 50px;
	max-height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	background-color: white;
	color: #9002FF;
	transition-duration: 0.4s;
	margin: 10px;
	border: none;
	border-radius: 2px;
	filter: drop-shadow(2.5px 2px 2px grey)
}
button:hover {
	background-color: #9002FF;
	color: white;
}
button:active {
	background-color: #948AE3;
	color: white;
	transform: translateY(2px);
}

input[type="radio"] {
	display: inline-flex;
	flex: auto;
	min-width: 20px;
	max-width: 20px;
	min-height: 20px;
	max-height: 20px;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	background-color: white;
	color: #9002FF;
	transition-duration: 0.4s;
	margin: 10px;
	border: none;
	border-radius: 2px;
}
input[type="radio"]:hover {
	background-color: #9002FF;
	color: #9002FF;
}
input[type="radio"]:active {
	background-color: #948AE3;
	color: #948AE3;
	transform: scale(0.8);
}
input[type='radio']:checked:after {
	width: 20px;
	height: 20px;
	border-radius: 15px;
	position: center;
	background-color: #9002FF;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

#navbar {
	width: 100%;
	height: 55px;
	background-color: var(--base7);
	align-content: center;
	filter: drop-shadow(2.5px 2px 2px grey);
	min-height: fit-content;
}
#navbar i, .back {
	margin: auto;
	width: fit-content;
	height: 95%;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	background-color: white;
	color: #9002FF;
	transition-duration: 0.4s;
	border: none;
	border-radius: 2px;
	filter: drop-shadow(2.5px 2px 2px grey);
	min-width: 120px;
}
#navbar i:hover {
	background-color: #9002FF;
	color: white;
}
#navbar i:active {
	background-color: #948AE3;
	color: white;
	transform: scale(0.9);
}
#navbar i p {
	display: inline;
	font-size: 14px;
	position: relative;
	top: -3px;
}
#navbar a {
	padding-left: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: auto;
	height: 100%;
	display: inline-block;
	padding-right: 8px;
}
.hidden_item{
	display: none;
}
.loading {
	color: #a383bb;
	margin: 0 auto;
}

#navbar .back, .back {
	width: 30px;
	margin-right: 12px;
	min-width: fit-content;
}

@media (max-width: 540px) {
	#navbar a i p {
		display: none;
	}
	#navbar a i {
		min-width: 60px;
	}
}