div {
  text-align: center;
  background-color: var(--base7);
}

.Homepage {
  padding-top: 25vh;
}

#profile {
  padding-top: 10vh;
}

a .bi {
  font-size: 24px;
  float: right;
  color: var(--purple);
  margin: 5px 8px 0 0;
  background: var(--base8);
  border-radius: 50px;
  width: 35px;
  height: 35px;
}